<style>
    body {
    background-color: #f0f8ff;
    h1 {
    color: black;
    padding-left: 500px;
    font-weight: bold;
    font-family: Roboto;
    }
    p {
    color: black;
    padding-left:200px;
    font-family: Open sans;
    }
</style>
<body>
<h1 class="display-4">FAVOURITE GAMES</h1>
<p class="lead">The favourite games are Kho Kho, Shuttle.</p>
<p class="lead">Kho-Kho : Kho-Kho is a traditional Indian sport that is part of the larger family of "tag" games. It is a popular in many regions of india and is played in schools, colleges,and at competitive leevls.</p>
<p class="lead">Shuttle : Shuttle commonly refers to badminton, a popular racquet sport played using a shuttlecock. it is on eof the popular sports in the world, especiallly in countries like China, Indonesia, india, Malaysia, Denmark, and South Korea. </p>
</body>