<style>
    body {
    background-color: #f8f0ff;
    }
    h1 {
    color: black;
    padding-left: 500px;
    font-weight: bold;
    font-family: Roboto;
    }
    p {
    color: black;
    padding-left: 100px;
    font-family: open sans;
    }
</style>
<h1 class="display">-:FAVOURITE COLOR:-</h1>
<p class="lead">Blue is one of the primary colors in the color spectrum and is widely appreciated for its calming and serene qualities. It is a versalite color with a broad range of shades, each evoking different emotions and associations.</p>
