<style>
    body {
    background-color: #f0f8ff;
    h1 {
    color:black;
    padding-left: 500px;
    font-weight:bold;
    font-family: Roboto;
    }
    p {
    color: black;
    padding-left:100px;
    font-family: Open sans;
    }
    </style>
<body>
<h1 class="display-4">-:FAVOURITE MUSIC:-</h1>
<p class="lead">The favourite songs are Manasavacha, Ramachakani Sita, Andamga lena, Tippulu Tappulu </p>
<p class="lead">Manasavacha : Manasavacha song is a telugu movie song from the Godavari released on 2006. Music of manasavacha song is composed by KM.Radhakrishna. Manasavacha song sung by Unnikrishnan, Chitra.</p>
<p class="lead">Ramachakani Sita: Ramachakani sita is a telugu language song and is sung by Gayathri and  K.M. Radha Krishnan. Ramachakani sita from the album Godavari, was released in the year 2013. </p>
<p class="lead">Andamagalena : Andamagalena is a telugu language song and is sung by sunitha and K.M.Radha Krishnan.Andamaga lena,from the album Godavari, was released in the year 2013.</p>
<p class="lead">Tippulu Tappulu : Tippulu Tappulu is a telugu language song and is sung by Shreya Ghoshal and K.M. Radha Krishnan. Tippulu Tappulu, from the Godavari, was released in the year 2013.</p>
</body>