<style>
    body {
    background-color: #f0f8ff;
    }
    h1 {
    color: black;
    padding-left: 500px;
    font-weight: bold;
    font-family: Roboto;
    }
  p {
    color: black;
    padding-left: 100px;
    font-family: Open sans;
    }
</style>
<h1 class="display">-:FAVOURITE FOODS:-</h1>
<p class="lead">Bingo : "Bingo!" is a popular snack brand in India, owned by ITC Limited. The brand offers a variety of potato chips, snacks, and finger foods that are widely enjoyed across the country. </p>
<p class="lead">Moligai Biryani : "Moligai Biryani" is not a widely recognized term or specific type of biryani. However, it seems to be a variation or regional interpretation of biryani that emphasizes the use of spices ("Moligai" in Tamil refers to "chillies" or "spices").Given this, "Moligai Biryani" could likely refer to a spicer version of biryani,possibly with a focus on certain types of spices or chilies that add a distinct flavour to the dish.</p>