{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<style>
  body {
  background-color: #cdd7ef;
  }
  h1 {
  color: black;
  padding-left:200px;
  font-weight: bold;
  font-family: Roboto;
  }
  p {
  color: black;
  padding-left:10px;
  font-family: Open sans;
  }
  jumbotron {
  background-color: black;
  }
  card {
  box-shadow: 0, 4px, 8px, rgba(0, 0, 0, 0.2);
  text-align: center;
  margin-bottom: 100px;
  }
  </style>
<div class="">
    <h1 class="display-4">WELCOME TO CHERRY</h1>
    <p class="lead">This is a beautiful girl. She knows everything and anything. She is clever. That girl named as Cherry. She is from vizag. She is hardworking person. She is beautiful when compared to other girls without any markeup. She is naughty girl. Her smile also very beautiful.</p>
</div>
<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card bg-primary text-white text-align:centre">
        <div class="card-body">
          <a href="{{ url_for('card1') }}" class="btn btn-primary" role="button">FAVOURITE SONGS</a>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card bg-success text-white">
        <div class="card-body">
          <a href="{{ url_for('card2') }}" class="btn btn-success" role="button">FAVOURITE GAMES</a>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card bg-info text-white">
        <div class="card-body">
          <a href="{{ url_for('card3') }}" class="btn btn-info" role="button">FAVOURITE FOOD</a>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-3">
      <div class="card bg-warning text-white">
        <div class="card-body">
          <a href="{{ url_for('card4') }}" class="btn btn-warning" role="button">FAVOURITE CARTOONS</a>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card bg-danger text-white">
        <div class="card-body">
          <a href="{{ url_for('card5') }}" class="btn btn-danger" role="button">FAVOURITE COLOR</a>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <div class="card bg-dark text-white">
        <div class="card-body">
          <a href="{{ url_for('card6') }}" class="btn btn-dark" role="button">FAVOURITE</a>
          <p class="card-text"></p>
        </div>
      </div>
    </div>
  </div>
</div>
<body>
<title>CONTACT FORM</title>
<div class="container mt-5">
  <h2 class="text-center mb-4">Contact Us</h2>
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" id="name" placeholder="Enter your name">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" placeholder="Enter your email">
      </div>
    </div>
    <div class="form-group">
      <label for="message">Message</label>
      <textarea class="form-control" id="message" rows="5" placeholder="Type your message here"></textarea>
      <button type="submit" class="btn btb-primary">Submit</button>
    </div>
  </form>
</div>
</body>
{% endblock %}